script
  include Course.js

template#Course
  .course
    nav-list(
      ::list="props.structure.courses"
      @select="selectCourse"
    )
    h1.course__title {{selectedCourse}}
    div.course__lecture(~for="lectures", ~value="lecture")
      h2.course__lecture__title Lecture {{lecture.index}}
      words-list(
        ::words="lecture.words"
        ::structure='props.structure'
      )
