extends ../layouts/main.pug

block title
  = 'Learning German'
block content
  -
    const { readJson } = require('./src/utils/readJson.js')
    let { lectures } = readJson('./data/words.json');
    let structure = readJson('./data/structure.json');

  course(:lectures=(lectures), :structure=(structure))

