-
  const { readJson } = require('./src/utils/readJson.js')
  let { lectures } = readJson('./data/words.json');
doctype html
html
  head
    title Learning German
  style
    include ../../tmp/styles.css
  body
    script
      include ../functions/BaseComponent.js
      include ../functions/textToSpeach.js
      include ../functions/toKababCase.js

    include ../../tmp/components.pug
    each lecture, index in lectures
      div
        word-list(:list=(lecture))(:append="ho")
          template(~slot="headline")
            h1 Lecture #{index + 1}

