extends ../layouts/main.pug

block title
  = 'Learning German'
block content
  -
    const { readJson } = require('./src/utils/readJson.js')
    const { lectures } = readJson('./data/words.json');
    const structure = readJson('./data/structure.json');
    const allWords = lectures.reduce((words, lecture) => (
      words.concat(lecture.words)
    ), []);

  script.
    window.allWords = !{JSON.stringify(allWords)};

  mode-selector(:lectures=(lectures), :structure=(structure))

