script
  include WordCard.js

template#WordCard
  .word-card
    .word-card__types
      span.word-card__type {{props.entry.type}}
      span.word-card__subtype(~if='props.entry.subType') ({{props.entry.subType}})

    h1.word-card__word.mb-20(@click='speak') {{props.entry.word}}

    .word-card__section(~if='props.entry.variations')
      h2.word-card__section__title Variations
      ul
        li(~for='props.entry.variations')
          span.word-card__word.word-card__word--small.mb-10(@click='(ev) => speak(ev, value)') {{value}}

    .word-card__section(~if='props.structure.languages')
      h2.word-card__section__title Translations
      table.word-card__aligned-list
        tbody
          tr(~for='props.structure.languages', ~value='language')
            th.word-card__aligned-list__head {{language}}
            td.word-card__aligned-list__data {{props.entry[language]}}




