script
  include CourseSelector.js

template#CourseSelector
  .course-selector
    ul.course-selector__list
      li.course-selector__list__item(
        ~for='props.courses',
        ~value='course',
        @click='() => selectCourse(course)'
      ) {{course}}



